{{define "folder"}}
<article id="article">
  <h1>{{.FolderName}}<span style="color:var(--text-faint)">/</span></h1>
  <hr class="article-divider" />
  {{if .FolderEntries}}
  <ul class="folder-list">
    {{range .FolderEntries}}
    <li class="folder-entry">
      {{if .IsDir}}<a class="folder-link folder-link--dir" href="/folder/{{.Path}}"><span class="folder-icon">▸</span>{{.Name}}/</a>
      {{else}}<a class="folder-link" href="/note/{{.Path}}"><span class="folder-icon">◦</span>{{if .Title}}{{.Title}}{{else}}{{.Name}}{{end}}</a>
      {{end}}
    </li>
    {{end}}
  </ul>
  {{else}}
  <p class="folder-empty">Empty folder.</p>
  {{end}}
</article>
{{end}}
